# environment variables and backup files
.env
.git-backup-*

# backend logs and build artifacts
backend/logs
backend/target

# frontend build artifacts and dependencies
frontend/node_modules/
frontend/build/
logs/application.log
